.product .button {
    height: 30px;
    font-size: medium;
    margin-top: 2rem;
}

.item .button {
    height: 30px;
    font-size: medium;
    margin-top: 2rem;
}

#tr-eng {
    margin-top: 2rem;
    margin-right: 0rem;
}

#tr-eng img{
    height: 1.5rem;
    width: auto;
}

#tr-eng #tr-eng-icon{
    display: none;
}

.flex-h .row {
    font-size: 8px;
    width: 106%;
}

.navbar-h {
    display: none;
}

.main-header .content h1 {
    font-size: 4rem;
    width: 200px;
}

.main-header .content h3 {
    font-size: 2rem;
    width: 200px;
}

.dropdown {
    display: flex;
    padding: 1rem 4rem;
}

/*about*/

.container-a {
    display: grid;
    margin: 0rem 0rem;
    padding: 8rem 4rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 0.5fr 0.5fr;
}

.container-a .item:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
    padding-top: 1rem;
}

.container-a .item:last-child {
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-top: 0rem;
}

.container-a .item1 {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}

.container-a .item2 {
    display: none;
}

.button {
    height: 20px;
    width: 200px;
    font-size: 8px;
}

.card {
	width: 20rem;
	height: 10rem;
}


/*corporate*/

.container-info {
    margin: -8rem 0rem;
    padding: 0rem 4rem;
    column-gap: 1rem;
}

.container-info .item img {
    height: 250px;
}

/*product*/

.product h1 {
    font-size: 20px;
}

.product h2 {
    font-size: 14px;
}

.product p {
    margin-top: -0.5rem;
}

.container-p {
    display: grid;
    margin: 8rem 0rem;
    padding: 8rem 4rem;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr auto auto auto 0.25fr;
}

.container-p .item:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 0rem;
}

.container-p .item:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 5;
}

.card-3d-wrap {
    width: auto;
    height: 100px;
    z-index: -1;
}

.img-1,.img-2, .img-3{
    width: 200px;
    opacity: 1;
    margin-left: 0px;
}


/*contact*/

.contact h2 {
    font-size: 20px;
}

.contact label {
    margin-left: 45%;
}

.contact form {
    position: relative;
    background-image: url('../img/bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contact input {
    width: 100px;
    height: 30px;
}

.container-c {
    margin: 0rem;
    margin-bottom: 5rem;
    grid-template-columns: 100%;
}

.container-c .item:first-child {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
}

.container-c .item:last-child {
    display: none;
}